<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet" />
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/public/javascripts/fileUpload.js"></script>
    <link rel="stylesheet" href="../../public/css/layout.css" />
    <title>Blog</title>
</head>

<body>
    <div class="blog-container">
        <div class="header">
            <h1 class="header-title">Blog - CALL OF DUTY</h1>
            <div class="btn-nav">
                <a href="articles/new" class="btn-newArticle">New Article</a>
                <form action="/articles/delete-all-posts" method="POST" class="d-inline">
                    <button type="submit" class="btn-deleteAll">Delete All</button>
                </form>
            </div>
        </div>

        <% if (articles.length > 0) { %> <% articles.forEach(article => { %>
        <div class="card-article">
            <div class="card-cover">
                <img class="cover" src="<%= article.coverImagePath %>" />
            </div>
            <div class="card-description">
                <div class="article-createdAt">
                    <%= article.createdAt.toLocaleDateString() %>
                </div>
                <h2 class="article-author"><%= article.author %></h2>
                <h4 class="article-title"><%= article.title %></h4>
                <div class="article-description"><%= article.description%></div>

                <div class="article-footer">
                    <div class="article-thumbs">
                        <div class="thumbs">
                            <img class="thumbs-img" src="../../public/svg/like.svg" alt="like" />
                            <div class="thumbs-rate"><%= article.like%></div>
                        </div>
                        <div class="thumbs">
                            <img class="thumbs-img" src="../../public/svg/dislike.svg" alt="dislike" />
                            <div class="thumbs-rate"><%= article.dislike%></div>
                        </div>
                    </div>
                    <a href="articles/<%= article.slug %>" class="btn-readMore">Read More</a>
                </div>
            </div>
        </div>
        <% }) %> <% } else {%>
        <h1 class ="blog-alert">Sorry, no article found ! <br><br> Let's start creating a new article !</h1>
        <% } %>
    </div>
</body>

</html>