<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet" />
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/public/javascripts/fileUpload.js"></script>
    <title>Blog</title>
</head>

<body>
    <div class="container">
        <div class="m-4">
            <a href="/" class="btn btn-secondary">Show All Articles</a>
            <a href="/articles/edit/<%= article._id %>" class="btn btn-info">Edit</a>
            <form action="/articles/<%= article._id %>?_method=DELETE" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>

        <div>
            <img class="w-50 p-3" src="<%= article.coverImagePath %>" />
            <h2><%= article.author %></h2>
        </div>
        <h1 class="mt-4"><%= article.title %></h1>
        <div class="text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
        </div>
        <div><%= article.description %></div>
        <div><%- article.sanitizedHtml %></div>
        <div class="d-flex">
            <div class="card-text m-2">Like: <%= article.like%></div>
            <div class="card-text m-2">Dislike: <%= article.dislike%></div>
        </div>

        <form action="/articles/like" method="POST" class="d-inline">
            <input type="hidden" value="<%= article._id %>" name="articleId">
            <button type="submit" class="btn btn-info">Like</button>
        </form>
        <form action="/articles/dislike" method="POST" class="d-inline">
            <input type="hidden" value="<%= article._id %>" name="articleId">
            <button type="submit" class="btn btn-info">Dislike</button>
        </form>
    </div>
</body>

</html>